:root, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',  sans-serif;
    background: #f4f4f4;
    color: #000000;
    font-size: 15px;
}

header#menu h1 {
    padding-top: 50px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

header#menu h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

header#menu h1, header#menu h2 {
    color: #ffffff;
    text-align: center;
    background: transparent;
}

nav {
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #000000;
    border-top: 1px solid #080808;
    border-bottom: 1px solid #080808;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    color: #c9c9c9;
    font-size: 14px;
}

nav a:hover {
    color: #ffffff;
}

nav button#theme-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav button#theme-button svg {
    font-size: 14px;
    color: #c9c9c9;
    margin-bottom: -7px;
}

nav button#theme-button svg:hover {
    color: #ffe240;
    cursor: pointer;
}

#tech span {
    display: inline-block;
    margin: 1px;
    border: 1px solid #0d66d0;
    border-radius: 20px;
    padding: 4px 14px;
}

section#main {
    background: #f4f4f4;
    margin: 3%;
}

article h1, article h3 {
    font-size: 17px;
}

article ul , td ul {
    list-style-type: square;
}

article a, article a:visited {
    color: #0d66d0;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

a.button, a.button:visited {
    display: inline-block;
    border: 2px solid #0d66d0;
    border-radius: 20px;
    background: #f4f4f4;
    color: #0d66d0;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 12px;
}

a.button:hover {
    text-decoration: none;
    background: #0d66d0;
    border-color: #0d66d0;
    color: #f4f4f4;
}

footer {
    text-align: center;
    color: #ffffff;
    background: #000000;
    margin: 0;
    margin-top: 5px;
}

a.external {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(/img/external_link.svg);
    padding-left: 16px;
}

a.active-button, a.active-button:visited {
    display: inline-block;
    background: #080808;
    font-size: 14px;
    padding: 6px 40px;
    border: 1px solid #4b9cf5;
    color: #4b9cf5;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}

a.active-button:hover {
    background: #000000;
    text-decoration: none;
}

a.active-button:active, a.active-button:focus {
    background-color: #4b9cf5;
    color: #080808;
}

#canvas-particles {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #000000;
}

header#menu hgroup{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: #00000008;
}

td {
    border-top: 1px solid #cacaca;
    padding: 14px 16px;
}

th {
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 10px 16px;
    font-size: 11px;
}

body.dark-mode {
    background: #080808;
    color: #ffffff;
}

body.dark-mode #tech span {
    border: 1px solid #4b9cf5;
}

body.dark-mode section#main{
    background: #080808;
}

body.dark-mode article a, body.dark-mode article a:visited, body.dark-mode article a:hover{
    color: #4b9cf5;
}

body.dark-mode a.button, body.dark-mode a.button:visited{
    border: 2px solid #4b9cf5;
    color: #4b9cf5;
    background: #080808;
}

body.dark-mode a.button:hover {
    background: #4b9cf5;
    border-color: #4b9cf5;
    color: #080808;
}

body.dark-mode a.external {
    background-image: linear-gradient(transparent,transparent),url(/img/external_link_dark.svg);
}

body.dark-mode table, body.dark-mode td {
    border-color: #1f1f1f;
}

body.dark-mode th {
    color: #b9b9b9;
}

body.dark-mode tr:hover {
    background-color: rgba(255, 255, 255, 0.03);
}