.badge {
    border: 1px solid #2f2f2f;
    width: auto;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    display: flex;
}

.badge a {
    border: 1px solid #2f2f2f;
}

.badge h4 {
    height: 100px;
}

.icon-small {
    display: inline;
    text-align: center;
    align-self: center;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    margin-right: 4px;
}

.external-link {
    color: $primary;
    cursor: pointer;
    text-decoration: none;
}

.external-link:hover {
    filter: brightness(200%);
}
