<footer class="shared footer bg-danger py-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
                <h4 class="fs-4 fw-semibold text-white">{{ .Site.Title }}</h4>
                <p class="small">{{ .Site.Params.description }}</p>
            </div>

            <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
                <h5 class="fs-6 fw-semibold text-white">Contato</h5>
                {{ range .Site.Params.contact }}
                <p class="small mb-1">
                    <b>{{ .name }}: </b>
                    <a class="text-white" href="{{ .url }}" target="_blank"
                        >{{ .text }}</a
                    >
                </p>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ with .Site.Params.copyright }}
                <p class="small text-center">{{ . }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</footer>
