.navbar {
    background: transparent;
    backdrop-filter: blur(10px);

    border-bottom: 1px solid #050505;
    .navbar-brand {
        img {
            width: auto;
            max-height: calc(1.4rem + 0.6vw);
        }
    }
}
.nav-link {
    color: #b0b0b0;
}
.nav-link:hover {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
}
