@import "bootstrap";

@import "fonts";
@import "utilities";

@import "header";
@import "footer";

@import "../sections/hero";
@import "../sections/brands";
@import "../sections/portfolio";
@import "../sections/about";
@import "../sections/testimonials";

@import "../sections/blog-list";
@import "../sections/blog-single";

table {
    backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #0a0a0a;
    border-radius: 2px;
    padding: 1px;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

td {
    border: 1px solid #1f1f1f;
    border-radius: 2px;
    padding: 14px 16px;
    text-align: center;
    align-items: center;
}

th {
    color: #b9b9b9;
    text-transform: uppercase;
    padding: 10px 16px;
    font-size: 11px;
}
